#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: rgb(20, 235, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.image{
    background-image: url('https://behrend.psu.edu/sites/behrend/files/styles/callout_component_image/public/weather-collage-3.jpg?itok=jY5V4mN7');
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    overflow-y: hidden;
}
